<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
        <h6>Жауаптар мазмұны:</h6>
        <hr>

        <a href="javascript:void(0)" @click="removeAnswer(ans)" class="btn btn-light btn-with-icon" v-for="ans in answers" style="margin-right:15px;margin-top:5px;">
          <div class="ht-40 justify-content-between">
            <span class="pd-x-15">{{ans}}</span>
            <span class="icon wd-40"><i class="fa fa-close"></i></span>
          </div>
        </a>
      </div>
      <div :class="answers.length > 0 ? 'col-sm-12 mg-t-15' : 'col-sm-12'" style="padding-left:0px; padding-right:0px;">
        <textarea v-model="content" :maxlength="maxlen" class="form-control" placeholder="Input box" rows="4"></textarea>
        <button class="btn btn-primary width-100 mg-t-15" @click="addAnswer">Қосу</button>
      </div>
    </div>

    <div class="row mg-t-20">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12" style="padding-left:0px; padding-right:0px; float: right;">
            <button class="btn btn-info width-150" @click="saveAnswer">Сақтау</button>
            <button class="btn btn-transparent width-150" @click="$emit('close')">Жабу</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import VueCkeditor from 'vue-ckeditor2';

export default {
  props:[
    'bank', 'answerid'
  ],
  components: { 
    'vue-editor': VueCkeditor
  },
  data () {
    return {
      content: '',
      maxlen: 0,
      answers: [],

      config: {
        language:'ru',
        height: 300,
        extraPlugins: []
      },
      
      isError: false,
      hasRightAnswer: false
    }
  },
  methods: {
    saveAnswer: function(){
      this.bank.forEach(element => {
        if(element.id == this.answerid){
          element.answers = this.answers
        }
      });
      this.$swal("Success!", "There cannot be empty answer", "success", { button: "Aww yiss!"})
      this.$emit('close')
    },
    addAnswer: function(){
      if(this.content != ""){
        var exists = false;
        this.answers.forEach(element => {
          if(element == this.content)
            exists = true,  this.$swal("Error!", "This answer exists", "error", { button: "Aww yiss!"});
        });

        if(!exists){
          this.answers.push(this.content)
          this.content = ''
        }
      }else{
        this.$swal("Error!", "This answer not be empty", "error", { button: "Aww yiss!"});
      }
      
    },
    removeAnswer: function(content){
      this.$swal({
        title: "Are you sure?",
        text: "Once deleted, you will not be able to recover this imaginary file!",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      })
      .then((willDelete) => {
        if (willDelete) {
          var newAnswers = []
          this.answers.forEach(element => {
            if(element != content)
              newAnswers.push(element)
          });

          this.answers = newAnswers

          this.$swal("Poof! Your imaginary file has been deleted!", {
            icon: "success",
          });
        } else {
          this.$swal("Your imaginary file is safe!");
        }
      });
    },
  },
  created() {
    this.bank.forEach(element => {
      if(element.id == this.answerid){
        element.answers.forEach(el => {
          this.answers.push(el)
        });

        this.maxlen = element.maxlen
      }
    });
  }
}
</script>

<style scoped>
  .selector{
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
  }

  .width-150{
    width: 150px;
  }
  .color--white{
    color:white !important;
    margin-top: 7px; 
  }
  .btn-transparent{
    background-color: transparent;
    cursor: pointer;
  }
  .width-100{
    width: 100%;
  }
</style>
