<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
        <h6>Жауап мазмұны:</h6>
        <hr>
        <vue-editor v-model="answer.content" :config="config"/>
      </div>
      <div class="col-sm-12 mg-t-15" style="padding-left:0px; padding-right:0px;">
        <label class="ckbox">
          <input type="checkbox" v-model="ans.isAnswer">
          <span style="font-size:17px;">Дұрыс жауап</span>
        </label>
      </div>
    </div>
    
    <div class="row mg-t-20">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12" style="padding-left:0px; padding-right:0px; float: right;">
            <button class="btn btn-info width-150" @click="saveAnswer">Сақтау</button>
            <button class="btn btn-transparent width-150" @click="$emit('close')">Жабу</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import VueCkeditor from 'vue-ckeditor2';

export default {
  props:[
    'bank', 'answerid'
  ],
  components: { 
    'vue-editor': VueCkeditor
  },
  data () {
    return {
      content: '',
      config: {
        language:'ru',
        height: 300,
        extraPlugins: []
      },
      answer:{
        id: '',
        content : "",
        isAnswer: false
      },
      ans: {
        isAnswer: false
      },

      isError: false
    }
  },
  methods: {
    saveAnswer: function(){
      if(this.answer.content == ''){
         this.isError = true, this.$swal("Error!", "There cannot be empty answer", "error", { button: "Aww yiss!"});
      }

      if(!this.isError)
        this.answer.isAnswer = this.ans.isAnswer
        this.$swal("Success!", "There cannot be empty answer", "success", { button: "Aww yiss!"})
        this.$emit('close')
    }
  },
  created() {
    this.bank.forEach(element => {
      if(element.id == this.answerid){
        this.answer = element
      }
    });

    if(this.answer.isAnswer)
      this.ans.isAnswer = true
  }
}
</script>

<style scoped>
  .selector{
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
  }

  .width-150{
    width: 150px;
  }
  .color--white{
    color:white !important;
    margin-top: 7px; 
  }
  .btn-transparent{
    background-color: transparent;
    cursor: pointer;
  }
</style>
