<template>
<div>
    <left-menu></left-menu>
    <top-menu></top-menu>
    <right-menu></right-menu>
        <div class="br-subleft" style="margin-left:60px;">
      <div class="pd-10">
        <a href="" class="btn btn-teal bd-0 btn-compose"><i class="icon ion-ios-compose-outline"></i> Upload Files</a>
      </div>

      <nav class="nav br-nav-mailbox flex-column">
        <a href="" class="nav-link"><i class="icon ion-ios-folder-outline"></i> New Folder</a>
        <a href="" class="nav-link"><i class="icon ion-ios-folder-outline"></i> Share Folder</a>
        <a href="" class="nav-link"><i class="icon ion-ios-trash-outline"></i> Deleted Files</a>
      </nav>

      <h6 class="tx-uppercase tx-10 mg-t-40 pd-x-10 bd-b pd-b-10 tx-roboto tx-white-7">My Folder</h6>

      <nav class="nav br-nav-mailbox flex-column">
        <a href="" class="nav-link"><i class="icon ion-ios-folder-outline"></i> Camera Uploads</a>
        <a href="" class="nav-link"><i class="icon ion-ios-folder-outline"></i> My Collections</a>
        <a href="" class="nav-link"><i class="icon ion-ios-folder-outline"></i> E-Book</a>
      </nav>
    
    </div>


</div>
</template>
<script>
import LeftMenu from "../../../components/Editor/PageComponents/Menus/Left.vue";

import RightMenu from "../../../components/Editor/PageComponents/Menus/Right.vue";

import TopMenu from "../../../components/Editor/PageComponents/Menus/Top.vue";
export default {
  components: {
    "top-menu": TopMenu,
    "left-menu": LeftMenu,
    "right-menu": RightMenu
  },
  data: function() {}
};
</script>
<style>
</style>