<template>
  <div>
    <div class="br-logo"><a href=""><span>[ </span>Edu<i>Con</i><span> ]</span></a></div>
    <div class="br-sideleft overflow-y-auto">
      <label class="sidebar-label pd-x-10 mg-t-20 op-3">НАВИГАЦИЯ</label>
      <div class="br-sideleft-menu">
        <router-link :to="{ name: 'EditorMain'}" tag="a" class="br-menu-link active">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-home-outline tx-24"></i>
            <span class="menu-item-label">Басқару тақтасы</span>
          </div>
        </router-link>
        <a href="" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-book-outline tx-24"></i>
            <span class="menu-item-label">Сұрақтар</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div>
        </a>
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item">
            <router-link :to="{ name: 'EditorQuestionAdding'}" tag="a" class="nav-link" style="color:white;">
              <span class="menu-item-label tx-18" style="margin-left:0px;">Сұрақ қосу</span>
            </router-link>
          </li>
          <li class="nav-item"><a href="#" class="nav-link">Сұрақтар</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Сұрақтар статистикасы</a></li>
        </ul>
        <router-link :to="{ name: 'EditorMain'}" tag="a" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon icon ion-ios-calendar-outline tx-24"></i>
            <span class="menu-item-label">Күнтізбе</span>
          </div>
        </router-link>
        <router-link :to="{ name: 'EditorMain'}" tag="a" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-bell-outline tx-24"></i>
            <span class="menu-item-label">Ескертулер</span>
          </div>
        </router-link>
        <router-link :to="{ name: 'ToDo'}" tag="a" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-list-outline tx-22"></i>
            <span class="menu-item-label">Істер тізімі</span>
          </div>
        </router-link>
        <router-link :to="{ name: 'EditorMain'}" tag="a" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-stats-bars tx-22"></i>
            <span class="menu-item-label">Статистика</span>
          </div>
        </router-link>
        <router-link :to="{ name: 'EditorMain'}" tag="a" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-ios-gear-outline tx-22"></i>
            <span class="menu-item-label">Параметрлер</span>
          </div>
        </router-link>
        <a href="" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-clock tx-22"></i>
            <span class="menu-item-label">Архив</span>
            <i class="menu-item-arrow fa fa-angle-down"></i>
          </div>
        </a>
        <ul class="br-menu-sub nav flex-column">
          <li class="nav-item"><a href="#" class="nav-link">Сұрақтар архиві</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Қолданушы тарихы</a></li>
        </ul>
        <router-link :to="{ name: 'EditorMain'}" tag="a" class="br-menu-link">
          <div class="br-menu-item">
            <i class="menu-item-icon icon ion-information-circled tx-22"></i>
            <span class="menu-item-label">FAQs</span>
          </div>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      
    }
  },created() {
    $( document ).ready(function() {

    });
  },
}
</script>

<style scoped>

</style>
