<template>
  <div>
    <one-variant v-if="builder.variant == 'onevariant'" :builder="builder" @next="nextStep" @back="$emit('back')"></one-variant>
    <many-variant v-if="builder.variant == 'manyvariant'" :builder="builder" @next="nextStep" @back="$emit('back')"></many-variant>
    <fill-empty-spaces v-if="builder.variant == 'fillblank'" :builder="builder" @next="nextStep" @back="$emit('back')"></fill-empty-spaces>
    <fill-empty-with-drag v-if="builder.variant == 'manymatching'" :builder="builder" @next="nextStep" @back="$emit('back')"></fill-empty-with-drag>
    <matching-key-value v-if="builder.variant == 'matching'" :builder="builder" @next="nextStep" @back="$emit('back')"></matching-key-value>
    <true-false v-if="builder.variant == 'truefalse'" :builder="builder" @next="nextStep" @back="$emit('back')"></true-false>

  </div>
</template>

<script>
  import OneVariantVue from './QuestionTypes/OneVariant.vue';
  import ManyVariantVue from './QuestionTypes/ManyVariant.vue';
  import FillBlankVariantVue from './QuestionTypes/FillBlankVariant.vue';
  import DragIntoBlankVariantVue from './QuestionTypes/DragIntoBlankVariant.vue';
  import MatchinVariant from './QuestionTypes/MatchingVariant.vue';
  import TrueFalseVariantVue from './QuestionTypes/TrueFalseVariant.vue';
  //config

  export default {
    props:[
      'stepDatas', 'builder'
    ],
    components: { 
      'one-variant': OneVariantVue,
      'many-variant': ManyVariantVue,
      'fill-empty-spaces': FillBlankVariantVue,
      'true-false': TrueFalseVariantVue,
      'matching-key-value': MatchinVariant,
      'fill-empty-with-drag': DragIntoBlankVariantVue
    },
    data () {
      return {
        oneVariant:{
          question: '',
          answers: []
        },
        manyVariant:{
          question: '',
          answers: []
        },
        fillEmptyFieldsVariant:{
          question: '',
          inputs: []
        },

        TrueFalseVariant:{
          question: '',
          answer: false
        },

        MatchingVariant:{
          questions:[],
          answers: []
        }
      }
    },
    methods: {
      setup:function(){
        
      },
      nextStep: function(qtype, question, answers){
        switch(qtype){
          case 'onevariant':
              this.oneVariant.question = question
              this.oneVariant.answers = answers
            break;
          case 'manyvariant':
              this.manyVariant.question = question
              this.manyVariant.answers = answers
            break;
          case 'fillblank':
              this.fillEmptyFieldsVariant.question = question
              this.fillEmptyFieldsVariant.inputs = answers
            break;
          case 'truefalse':
              this.TrueFalseVariant.question = question
              this.TrueFalseVariant.answer = answers
            break;
        }
        //this.$emit('next')
      }
    }
  }
</script>

<style scoped>

</style>
