<template>
  <div class="br-section-wrapper" style="min-height:400px;">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="color-black">Нұсқаулық</h4>
            <p id="content">{{ this.instructions.steps.stepThree.fillblank }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="color-black" :title="instructions.steps.stepTwo[builder.variant]">Сұрақ түрі: <span style="color:#4CAF50">{{ builder.title }}</span> </h5><hr>
          </div>
          <div class="col-sm-12">
            <div class="row" v-for="mt in matching">
              <div class="col-sm-5 text-center mg-t-10 mg-b-10">
                <div v-html="mt.keyof">
                </div>
                <button class="selector btn btn-light width-100" @click="openKeyEditor(mt.id)" v-if="mt.keyof.length == 0">Edit key</button>
              </div>
              <div class="col-sm-2 text-center mg-t-20 mg-b-10">
                  ===>
              </div>
              <div class="col-sm-5 text-center mg-t-10 mg-b-10">
                <div v-html="mt.valueof">
                </div>
                <button class="selector btn btn-success width-100" v-if="mt.valueof.length == 0">Edit value</button>
              </div>
            </div>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-primary width-100 mg-t-10" @click="addMatching">Сәйкестендіру нұсқасын қосу</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row mg-t-30">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 text-right">
            <button class="btn btn-transparent width-150" @click="$emit('back')">Артқа</button>
            <button class="btn btn-info width-150" @click="nextStep">Келесі</button>
          </div>  
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueCkeditor from 'vue-ckeditor2';

//config
import instructionsInit from './../../../../../../config/instructions/editor/addQuestion.json'
import EditFillBlankInputVue from './Answers/EditFillBlankInput.vue';
export default {
  props:[
    'builder'
  ],
  components: { 
    'vue-editor': VueCkeditor
  },
  data () {
    return {
      instructions: {},

      matching:[],

      config: {
        language:'ru',
        height: 300,
        extraPlugins: []
      }
    }
  },
  methods: {
    setup: function(){
      
    },
    addMatching: function(){
      this.matching.push({
        keyid: this.makeid(),
        keytype: 0,
        valuetype: 0,
        keyof:"",
        valueof: ""
      })
    },
    nextStep: function(){
      this.$emit('next', this.builder.variant, this.content, this.answer)
    },

    openKeyEditor: function(id){
      /*this.$modal.show(KeyAnswer, {
          bank: this.oneVariant,
          answerid: id
      }, {
          height: 'auto',
          scrollable: true,
          clickToClose :true,
          pivotY : 0.2,
          width:1000
      }, {
          'before-close': (event) => { 

          }
      })*/
    },

    makeid : function () {
      var text = "";
      var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

      for (var i = 0; i < 5; i++)
        text += possible.charAt(Math.floor(Math.random() * possible.length));

      return text;
    }
  },
  created() {
    this.setup()
    this.instructions = instructionsInit
  }
}
</script>

<style scoped>
  .selector{
    margin-right: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  .color--white{
    color:white !important;
    margin-top: 7px; 
  }
  .btn-transparent{
    background-color: transparent;
    cursor: pointer;
  }

  .width-100{
    width: 100%;
  }
</style>
