<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-12">
            <h4 class="color-black">Нұсқаулық</h4>
            <p id="content">{{ this.instructions.steps.stepThree.fillblank }}</p>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="row">
          <div class="col-sm-12">
            <h5 class="color-black" :title="instructions.steps.stepTwo[builder.variant]">Сұрақ түрі: <span style="color:#4CAF50">{{ builder.title }}</span> </h5><hr>
          </div>
          <div class="col-sm-12">
            <h6>Сұрақтың мазмұны:</h6>
            <vue-editor v-model="content" :config="config" />
            <br><h5>Дұрыс жауабы: </h5><br>
            <h4>
              <label class="rdiobox">
                <input name="truefalse" type="radio" v-model="answer" value="true">
                <span style="color:green">Дұрыс</span>
              </label>
              <label class="rdiobox" style="margin-top:20px;">
                <input name="truefalse" type="radio" v-model="answer" value="false">
                <span style="color:red">Бұрыс</span>
              </label>
            </h4>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="row mg-t-30">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12 text-right">
            <button class="btn btn-transparent width-150" @click="$emit('back')">Артқа</button>
            <button class="btn btn-info width-150" @click="nextStep">Келесі</button>
          </div>  
        </div>
      </div>
    </div>

  </div>
</template>

<script>
import VueCkeditor from 'vue-ckeditor2';

//config
import instructionsInit from './../../../../../../config/instructions/editor/addQuestion.json'
import EditFillBlankInputVue from './Answers/EditFillBlankInput.vue';
export default {
  props:[
    'builder'
  ],
  components: { 
    'vue-editor': VueCkeditor
  },
  data () {
    return {
      instructions: {},

      content: '',
      answer: false,

      config: {
        language:'ru',
        height: 300,
        extraPlugins: []
      }
    }
  },
  methods: {
    setup: function(){
      
    },
    nextStep: function(){
      this.$emit('next', this.builder.variant, this.content, this.answer)
    },
  },
  created() {
    this.setup()
    this.instructions = instructionsInit
  }
}
</script>

<style scoped>
  .selector{
    margin-right: 10px;
    font-size: 18px;
    cursor: pointer;
  }
  .color--white{
    color:white !important;
    margin-top: 7px; 
  }
  .btn-transparent{
    background-color: transparent;
    cursor: pointer;
  }
</style>
