<template>
  <div class="br-section-wrapper">
    <div class="row">
      <div class="col-sm-12" style="padding-left:0px; padding-right:0px;">
        <h6>Алдын-ала қарау: <span style="color:#4CAF50">{{ title }}</span></h6>
        <hr>
        <div v-html="content"></div>
        <div class="row mg-t-20" v-if="bank.length > 0">
          <div class="col-sm-12" v-for="(value, index) in bank">
            <div class="row" >
              <div class="col-sm-1 text-center">
                <label class="rdiobox" style="margin-top:2px;">
                  <input name="rdio" type="radio">
                  <span>{{variants[index]}}</span>
                </label>
              </div>
              <div class="col-sm-9" v-html="value.content">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mg-t-20">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12" style="padding-left:0px; padding-right:0px; float: right;">
            <button class="btn btn-transparent width-150" @click="$emit('close')">Жабу</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</template>

<script>
export default {
  props:[
    'bank', 'content', 'title'
  ],
  data () {
    return {
      variants: ['A) ', 'B) ', 'C) ', 'D) ', 'E) ', 'F) ', 'G) ', 'H) ', 'I) ', 'J) ']
    }
  }
}
</script>

<style scoped>

</style>
